<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyc.tanjim.mathtank">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Advanced"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuickMath"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuickMathLoadingScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeTrials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeTrialsLoadingScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdvancedLoadingScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainMenu" />
        </activity>
        <activity android:name=".AppInfo" />
        <activity
            android:name=".Scores"
            android:label="@string/title_activity_scores"
            android:theme="@style/AppTheme" />
        <activity android:name=".scoredHow"></activity>
    </application>

</manifest>